body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}


.header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.book {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #888888;
    margin: 10px;
}

.book img {
    max-width: 150px;
}

.footer {
    background: linear-gradient(90deg, #333, #f0f0f0, #333);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

.header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.book {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #888888;
    margin: 10px;
}

.book img {
    max-width: 150px;
}

.footer {
    background: linear-gradient(90deg, #333, #f0f0f0, #333);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}