/* Cambios en el selector por clase y box-modeling */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Estilos comunes de los títulos */
h2, h3 {
    color: #333;
}


/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* nueva clase para los enlaces de la barra de navegación cuando el mouse está sobre ellos */
nav a:hover {
    background-color: #FDB813;
    color: black;
}

/* Estilo de fondo oscuro para la ventana emergente */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Estilos para la ventana emergente */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    max-width: 400px;
    z-index: 2;
}

.popup input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #FDB813;
}

/* Estilos específicos para la página de inicio */
iframe {
    width: 100%;
    height: 400px;
}

/* Estilos para hacer una sección responsive */
@media (max-width: 768px) {
    main {
        padding: 10px;
    }
}
#mensaje {
    color: red;
    margin-top: 10px;
}

.popup input,
.popup button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* flechas de navegación */
.carousel-control-prev, .carousel-control-next {
    // Estilos personalizados aquí
  }
  